.page {
  text-rendering: optimizeLegibility;
  margin: 0 0 0 100px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  max-width: 1920px;
  color: white;
  margin-top: 32px;
}
@media screen and (max-width: 1199.98px) {
  .page {
    margin: 0 auto;
  }
}
