.search__input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  padding: 5px;
  width: 100%;
  caret-color: red;
}
.search__input:focus {
  border-bottom: 1px solid #5a698f;
}
@media screen and (max-width:  1199.98px ){
  .search__input{
    width: 95%;
  }
}